// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

.navbar {
  background-color: #ffeadb;
}

.modal-content {
  background-color: #11121A !important;
}

.close {
  color: #ffeadb !important;
}

.close:hover {
  color: white;
}

.form-control {
  background-color: #ffeadb !important;
  border-radius: 50px !important;
}
