// Specific CSS for your home-page
body {
  background: #11121A;
  font-family: 'Roboto', ;
  color: #ffeadb
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cocktail-pic {
  width:300px;
  height:180px;
  margin: auto;
  margin-bottom: 25px;
}

.one-drink-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.item-row {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
}

#dose-descr {
  margin-right: 15px;
}
