<h1>Doses#index</h1>




<%@doses.each do |dose|%>
  <%= dose.cocktail.name  %>
  <%= dose.description  %>
  <%= link_to "Remove", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }%>
<%end%>
