<h1>Doses#index</h1>

<%= cl_image_tag("lsrihaf9s1xonzemggz1",
      width: 400, height: 300, crop: :fill) %>


<%= cl_image_tag("o07bfmze7pe2kzl8gr20",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
